# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\guilh\OneDrive\Coisas\Área de Trabalho\workspace\1743-jpa-pesquisas-projeto_inicial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
